{{- $clustername := .Values.cluster.name }}
apiVersion: rke-machine-config.cattle.io/v1
kind: Amazonec2Config
metadata:
  name: {{ $clustername }}-controlplane
  namespace: fleet-default
instanceType: t3a.medium
region: {{ .Values.region | quote }}
subnetId: {{ .Values.subnetId | quote }}
vpcId: {{ .Values.vpcId | quote }}
zone: {{ .Values.zone | default "a" | quote }}
sshUser: ubuntu
